.favorites {
  padding: 120px 0 100px 0;
}


.favorites-title {
  margin-bottom: 16px;
  text-align: center;

}

.favorites-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

.favorites-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;

}

.favorites-item {
  border: 16px solid #ffe550;
  border-radius: 197px;
  width: calc((100% - 64px) / 3);
  height: 397px;
  display: flex;
  justify-content: center;
  align-items: center;

}