body {
  font-family: Roboto;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* ==============HEADER============= */

.header {
}

.logo {
}

.header-nav {
}

.nav-list {
}
.nav-item-link {
  color: #bbf330;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.nav-list-item {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-btn {
  color: #2c2c2c;
  text-align: right;
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  border: 0;
  border-radius: 30px;
  background-color: #bbf330;
}

/* ===============HERO=============== */
.hero {
  background-color: #fefefe;
}

.hero-title {
  color: #2c2c2c;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
}

.hero-text {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.hero-btn {
  color: #2c2c2c;
  text-align: right;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  border-radius: 30px;
  border: 2px solid #bbf330;
  background-color: #bbf330;
}

.hero-img {
}

/* ==============BENEFITS============= */
.benefits {
  background: #ffe550;
}

.benefits-img {
}

.benefits-title {
  color: #2c2c2c;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%; /* 50.4px */
}

.benefits-text {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.benefits-list {
}

.benefits-list-item {
}

.benefits-list-title {
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
}

.benefits-list-text {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.benefits-btn {
  color: #2c2c2c;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  border-radius: 30px;
  border: 2px solid #7eb101;
  background-color: #fff;
}

/* ==============FAVORITES============= */

.favorites {
  background: #fefefe;
}

.favorites-title {
  color: #2c2c2c;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
}

.favorites-text {
  color: #2c2c2c;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.favorites-list {
}

.favorites-list-item {
}

.favorites-item-img {
  border-radius: 197.5px;
  border: 16px solid #ffe550;
  background-color: #fefefe;
}

/* ==============REVIEW============= */

.review {
  background-color: #ffe550;
}

.review-title {
  color: #2c2c2c;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
}

.review-text {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.review-list {
  border-radius: 0px 30px 30px 30px;
  background-color: #fefefe;
}

.review-list-item {
}

.review-item-text {
  color: #2c2c2c;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}

.review-item-img {
  border-radius: 48px;
  border: 2px solid #ffe550;
  background-color: lightgray 50% / cover no-repeat;
}

.review-person {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.review-person-descr {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

/* ==============SUBSCRIBE============= */
.subscribe {
}

.subscribe-title {
  color: #2c2c2c;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%; /* 50.4px */
}

.subscribe-text {
  color: #2c2c2c;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.subscribe-form {
}

.subscribe-input {
  border-radius: 30px;
  border: 0.854px solid #ffe550;
  background-color: #fefefe;
}

.subscribe-btn {
  color: #2c2c2c;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  border-radius: 30px;
  border: 0;
  background-color: #bbf330;
}

.subscribe-img {
}

/* ==============FOOTER============= */
.footer {
}

.logo {
}

.footer-nav {
}

.footer-nav-item {
}

.footer-nav-link {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.footer-list {
}

.footer-list-item {
}

.footer-item-link {
  color: #7eb101;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.footer-subscribe {
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
.subscribe-form {
}

.subscribe-input {
}

.footer-sub-btn {
  color: #2c2c2c;
  font-size: 13px;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  border-radius: 30px;
  border: 0.854px solid #7eb101;
  background: #fff;
}

.footer-text {
  color: #2c2c2c;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
