body {
  font-family: Roboto, sans-serif;
  color: #2c2c2c;
  background-color: #fff;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}
